In [20]:
import numpy as np
import vtk

from mcopt.morse_complex import MorseComplex

%reload_ext autoreload
%autoreload 2

In [21]:
crit1 = vtk.vtkXMLPolyDataReader()
crit1.SetFileName('../data/critical_points1.vtp')
crit1.Update()

sep1 = vtk.vtkXMLPolyDataReader()
sep1.SetFileName('../data/separatrices1.vtp')
sep1.Update()

seg1 = vtk.vtkXMLUnstructuredGridReader()
seg1.SetFileName('../data/segmentation1.vtu')
seg1.Update()

crit2 = vtk.vtkXMLPolyDataReader()
crit2.SetFileName('../data/critical_points2.vtp')
crit2.Update()

sep2 = vtk.vtkXMLPolyDataReader()
sep2.SetFileName('../data/separatrices2.vtp')
sep2.Update()

seg2 = vtk.vtkXMLUnstructuredGridReader()
seg2.SetFileName('../data/segmentation2.vtu')
seg2.Update()

In [22]:
mc1 = MorseComplex(crit1, sep1, seg1)
mc2 = MorseComplex(crit2, sep2, seg2)

In [23]:
mc1.point_data

,ttkMaskScalarField,CellDimension,CellId,Points_0,Points_1,Points_2
Point ID,,,,,,
0,0,1,69,17.676767,0.0,-14.475187
1,1,0,17,17.171717,0.0,-14.787829
2,1,1,65,16.666666,0.0,-15.245982
3,1,0,16,16.161615,0.0,-15.704135
4,1,1,61,15.656565,0.0,-16.068104
...,...,...,...,...,...,...
1795,1,0,9997,97.979797,100.0,-37.984051
1796,1,1,29597,98.484848,100.0,-38.528458
1797,1,0,9998,98.989899,100.0,-39.072861
1798,1,1,29600,99.494949,100.0,-40.312042
1799,0,0,9999,100.0,100.0,-41.55122